@mixin button($padding: 10px, $background: #007BFF, $color: white) {
  display: inline-block;
  padding: $padding;
  background-color: $background;
  color: $color;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  text-decoration: none;
  outline: none;

  &:hover {
    background-color: darken($background, 5%);
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
    transform: translateY(-3px);
  }

  &:active {
    transform: translateY(-1px);
  }
}


@mixin card($width, $height) {
  width: $width;
  height: $height;
  padding: 20px;
  border: 1px solid #7e7e7e;

}